<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Types </label>
        <select class="form-control form-control-lg" id="idType" name="idType"
        [(ngModel)]="IdType" (change)="onChange()">
        <option *ngFor="let type of types" value="{{type.idType}}">
        {{type.nomType}}
         </option>
        </select>
        </div>

    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th>  <th>Date Diffusion</th> <th>Langue</th><th>Type</th></tr>
    <tbody *ngFor="let serie of series">
        <tr>
            <td>{{serie.idSerie}}</td>
            <td>{{serie.nomSerie}}</td>
            <td>{{serie.dateDiffusion | date:'dd/MM/yyyy'}}</td>
            <td>{{serie.langue}}</td>
            <td>{{serie.type?.nomType}}</td>
            <!--<td><a *ngIf="authService.isAdmin()" class="btn btn-success"[routerLink]="['/updateSerie',serie.idSerie]">Modifier</a></td>
            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger"(click)="supprimerSerie(serie)">Supprimer</a></td>-->
        </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
