<div class="container">
    <div>
    <h2>Ajouter une Serie :</h2>
    </div>
    <form >
        
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Serie</label>
        <input type="text"[(ngModel)]= "newSerie.nomSerie"
        name="nomSerie" class="form-control">
        </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date Diffusion</label>
        <input type="date" [(ngModel)]= "newSerie.dateDiffusion"
        name="dateDiffusion" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label >Langue</label>
            <input type="text" [(ngModel)]= "newSerie.langue"
            name="langue " class="form-control">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <label>Type</label>
                <select class="form-control form-control-lg" id="idType" name="idType" [(ngModel)]="newIdType">
                    <option *ngFor="let type of types" [value]="type.idType">
                        {{type.nomType}}
                    </option>
                </select>
            </div>
            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
            </div>

            <div class="col-sm-16 col-md-16 col-lg-16">
                <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                style="width: 500px; height: 300px" />
            </div>

        <div class="mt-2">
        <button type="submit" (click)="addSerie()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>
